#git+https://github.com/NicGian/SentITA.git@master
git+https://github.com/Pinperepette/italian_sentiment.git
it-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.7.0/it_core_news_sm-3.7.0-py3-none-any.whl#sha256=c6a300c7d7b440cee6a896f648bce744c9f091375dc8d7ff834a8930d59eb4bd
#tf-keras
keras==2.15.0
keras_nightly==3.0.4.dev2024021403
langdetect==1.0.9
matplotlib
nltk==3.8.1
numpy
pandas
Pillow==10.2.0
plotly==5.19.0
#pywin32==306
scikit_learn==1.4.1.post1
seaborn
spacy
it_core_news_sm
streamlit==1.31.1
transformers==4.38.1
wordcloud==1.9.3