keras==2.15.0
keras_nightly==3.0.4.dev2024021403
langdetect==1.0.9
matplotlib==3.8.3
nltk==3.8.1
numpy==1.24.3
pandas==2.2.1
Pillow==10.2.0
plotly==5.19.0
#pywin32==306
scikit_learn==1.4.1.post1
seaborn==0.13.2
spacy==3.7.4
streamlit==1.31.1
transformers==4.38.1
wordcloud==1.9.3
git+https://github.com/NicGian/SentITA.git@master
tf-keras